.section-intro {
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: contain;
  min-height: 851px;
  background-color: #F2FAFA;
  padding-top: 150px;
  padding-bottom: 110px;
  .backdrop{
    background-color: #22A1A6;
  }
}

.specialist-intro__slider-wrap {
  overflow: visible;
}

.specialist-intro__slider-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 10px 0;
  width: 68px;
  height: 68px;
  background: url("../assets/img/specialist/intro/arrow-ios-forward-blue.svg") #fff center center no-repeat;
  background-size: 24px 24px;
  border: none;
  appearance: none;
  cursor: pointer;
  z-index: 3;

  &.blue {
    background: url("../assets/img/specialist/intro/arrow-ios-forward.svg") #2AC8CE center center no-repeat;
    transform: rotate(180deg);
    background-size: 24px 24px;
  }
}

.specialist-intro__slider {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  width: 100%;
  height: 590px;

  .swiper-slide {
    position: relative;
    font-size: 18px;
    line-height: 1.4;
    perspective: 1000px;

    &:first-child {
      grid-area: 1 / 1 / 3 / 5;

      .flip-card-front:before {
        background: url("../assets/img/specialist/intro/card1_bg.svg") center center no-repeat;
      }
    }

    &:nth-child(2) {
      grid-area: 1 /5 / 2 / 8;

      .flip-card-front:before {
        background: url("../assets/img/specialist/intro/card2_bg.svg") center center no-repeat;
      }
    }

    &:nth-child(3) {
      grid-area: 2 / 5 / 3 / 8;

      .flip-card-front:before {
        background: url("../assets/img/specialist/intro/card3_bg.svg") center center no-repeat;
      }
    }

    &:last-child {
      grid-area: 1 / 8 / 3 / 13;

      .flip-card-front:before {
        background: url("../assets/img/specialist/intro/card4_bg.svg") center center no-repeat;
      }
    }
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card_active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #22A1A6;
  border-radius: 10px;
  padding: 60px 10px 68px 20px;
  overflow: hidden;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(42.54deg, #2CD2D9 0%, #25B2B8 100%);
  color: #fff;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    z-index: 1;
    pointer-events: none;
  }
}

.flip-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
  color: #3B4040;

  .flip-card__content {
    justify-content: flex-start;
  }

  .flip-card__desc {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 10px;

    &:before {
      background-color: #3B4040;
    }
  }
}

.flip-card__content {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  padding-right: 10px;

  .wrap-img {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;

    svg {
      display: inline-block;
      width: 100%;
      height: auto;

    }
  }
}

.flip-card__title {
  text-transform: uppercase;
  margin-bottom: 6px;

  & + .flip-card__desc:before {
    display: block;
  }
}

.flip-card__desc {
  position: relative;
  padding: 10px 0 20px;

  &:before {
    content: '';
    position: absolute;
    display: none;
    top: 0;
    width: 180px;
    height: 1px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
  }
}

.flip-card__popover {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 376px;
  background-color: #F2F8FA;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.29;
  color: #334040;
  padding: 10px 10px 15px;
  z-index: 810;

  width: 90%;
  max-height: 370px;
}

.btn-chart {
  cursor: pointer;
  transition: .35s;

  &-dark,
  &-green {
    &:hover,
    &:focus {
      .icon {
        fill: #ffffff;
      }

      .text {
        fill: #ffffff;
      }

      .border {
        stroke: transparent;
      }
    }
  }

  &-green {
    &:hover,
    &:focus {
      .bg-white {
        fill: #2cc8cc;
      }
    }
  }

  &-dark {
    &:hover,
    &:focus {
      .bg-white {
        fill: #22A1A6;
      }
    }
  }

  &-light {
    &:hover,
    &:focus {
      .bg-white {
        fill: #E1EBEE;
      }
    }
  }
}

.popover__content {
  max-height: 280px;
  padding: 13px;
}

@include respond-to($lg) {
  .specialist-intro__slider {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    height: auto;
    grid-row-gap: 0;
    grid-column-gap: 0;

    & > .swiper-slide {
      width: 50%;
      padding: 10px;
      height: 285px;
      order: 3;

      &:last-child {
        order: 2;
      }

      &:first-child {
        order: 1;
      }

      &:first-child,
      &:last-child {
        height: 590px;
      }
    }
  }
}

@include respond-to($sm) {
  .specialist-intro__slider-wrap {
    overflow: hidden;
    padding-bottom: 60px;
  }

  .specialist-intro__slider {
    margin: 0;
    flex-wrap: nowrap;

    & > .swiper-slide:nth-child(1n) {
      width: 100%;
      padding: 0;
      height: 485px;
      order: 1;
    }

    .flip-card__desc {
      max-width: 430px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .flip-card__content {
    .wrap-img {
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 560px) {
  .flip-card-back {
    padding-top: 0;
  }
.btn_desc{
  display: none!important;
}
  .btn_mob{
    display: block!important;
  }
}

@include respond-to($xxs) {
  .specialist-intro__slider {
    & > .swiper-slide:nth-child(1n) {
      height: 342px;
    }
  }
  .flip-card-front {
    padding-top: 20px;
  }
  .flip-card__content {
    .wrap-img {
      max-width: 260px;
    }
  }
}
