.section-info {
  position: relative;
  min-height: 640px;

  .section-info__content {
    padding-bottom: 116px;
  }

  .note {
    position: relative;
    width: 100%;
    background-color: #F2FAFA;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 1.35;
    color: #22A1A6;
    z-index: -2;

    &__text {
      max-width: 460px;
      width: 100%;
    }
  }

  &__img-wrap {
    position: absolute;
    display: flex;
    width: 47%;
    max-width: 890px;
    height: 100%;
    right: -13px;
    bottom: 0;
    overflow: hidden;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 890px;
      height: 890px;
      background: radial-gradient(102.5% 76.72% at 48.8% 40.56%, #66E1E6 0%, #2CD2D9 36.98%, #25B2B8 100%);
      border-radius: 50%;
      top: 15%;
      z-index: -1;
    }

    img {
      display: block;
      margin: auto 0 0 110px;
    }
  }

  .text_big {
    color: #22A1A6;
    line-height: 1;
    margin-bottom: 56px;
    max-width: 977px;

  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 806px;
    width: 100%;
    margin-bottom: 17px;
  }

  .card {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 40px;

    &__icon {
      width: 82px;
      height: 82px;
      flex-shrink: 0;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }

    &__text {
      padding:0  20px;
    }
  }
}