.section-about {
  color: #ffffff;
  padding-bottom: 80px;

  &__inner {
    display: flex;
    border-radius: 10px;
    padding-top: 30px;
    background: radial-gradient(circle closest-side at 15% 50%, rgba(44, 210, 217, 0.5) 0%, #25B2B8 120%);
  }


  &__thumb {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 585px;
    padding-right: 70px;
    width: 50%;
    flex-shrink: 0;
  }

  &__header {
    padding-top: 18px;
    padding-bottom: 24px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 24px;
  }

  &__part {
    width: 50%;
    padding-right: 70px;
    padding-bottom: 50px;
  }

  &__content {
    max-width: 460px;
    padding-left: 20px;

    ul {
      margin-top: 25px;

      li {
        position: relative;
        padding-left: 22px;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 13px;
          height: 18px;
          background-image: url(../assets/img/ic_arrow.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          left: 0;
          top: 6px;
        }
      }
    }
  }

  .section__title {
    font-size: 28px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 0;
  }

}

@include respond-to($md) {
  .section-about {
    &__thumb {
      max-width: 387px;
      width: 35%;
      padding-right: 33px;
      padding-bottom: 40px;
    }

    &__part {
      width: 65%;
      padding-right: 50px;
    }
  }
}

@include respond-to($sm) {
  .section-about {
    &__thumb {
      display: none;
    }

    &__inner {
      background: linear-gradient(42.54deg, #2CD2D9 0%, #25B2B8 100%);
      padding: 0;
    }

    &__part {
      width: 100%;
      padding: 40px 40px 48px;
    }
  }
}

@include respond-to($sm) {
  .section-about {
    &__part {
      padding: 48px 20px 60px;
    }

    &__header {
      margin-bottom: 20px;
    }
  }
}