.section-how-work {
  padding-top: 60px;
}

.how-work {
  margin: 0 -10px;
  width: 100%;
  overflow: visible;

  &__slide {
    width: 33.33%;
    padding: 40px 10px 30px;
    height: auto;

  }
  &__card{
    padding: 20px;
    height: 100%;
    max-width: 386px;
    box-shadow: 0 2px 50px 2px rgba(44, 200, 204, .11);
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: #334040;
  }
  &__thumb{
    padding-top: 59%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 32px;
  }
}

@include respond-to($md){
  .how-work{
    overflow: hidden;
    width: calc(100% + (100vw - 100%) / 2);
    margin: 0;
    &__slide {
      width: auto;
      margin: 0;
    }
  }
}