.section-posts {
  padding: 60px 0;

  .card {
    position: relative;
    border-radius: 10px;
    height: 100%;
    padding: 0 40px 40px;
    line-height: 25px;
  }

  .card-pay {
    text-align: center;
    color: #ffffff;

    .card-post__thumb {
      padding-bottom: 16px;
      margin-bottom: 45px;

      &:before {
        display: none;
      }
    }

    .card-post__img {
      width: 81px;
      height: 78px;
    }

    .card-post__title {
      color: #ffffff;
      font-size: 24px;
    }

    .btn {
      margin-top: 20px;
    }
  }

  .card-post {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 2px 50px 2px rgba(44, 200, 204, .11);
    color: #3B4040;

    &__thumb {
      position: relative;
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      overflow: hidden;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 132px;
        background-color: #F2FAFA;
        border-radius: 10px;
        left: 0;
        right: 0;
        bottom: 34px;
        z-index: 0;
      }

      img {
        position: relative;
      }
    }

    &__wrap-img{
      max-width: 246px;
      margin: 0 auto;
    }

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.3;
      text-transform: uppercase;
      color: #22A1A6;
      margin-bottom: 10px;
    }

    &__content {
      ul li {
        position: relative;
        padding-left: 25px;

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #3B4040;
          left: 8px;
          top: 10px;
        }
      }
    }
  }

  .posts-list {
    display: flex;
    margin: 0 -10px;

    &__item {
      width: 33.33%;
      padding: 0 10px;
    }
  }
}

@include respond-to($md) {
  .section-posts {
    .posts-list {
      flex-wrap: wrap;

      &__item {
        width: 50%;
        margin-bottom: 20px;

        &:last-child {
          width: 100%;
          margin-bottom: 0;
        }
      }

    }

    .wrap-card {
      display: flex;
      align-items: center;
      max-width: 540px;
      margin: 0 auto;
    }

    .card-pay {
      padding-top: 100px;
      padding-bottom: 117px;

      .card-post__thumb {
        width: 154px;
        min-height: 0;
        margin-bottom: 0;
        margin-right: 40px;
        padding-bottom: 0;
      }

      .card-post__img {
        width: 100%;
        height: auto;
      }

      .card-post__body {
        padding: 0 12px;
      }
    }
  }
}

@include respond-to($xs) {
  .section-posts {
    .posts-list__item {
      width: 100%;
    }
  }
}

@include respond-to($xxs) {
  .section-posts {
    .card-pay{
      padding: 60px 20px;
      .card-post__thumb {
        width: 81px;
        height: 78px;
        margin: 0 auto 56px;
      }
    }
    .wrap-card {
      display: block;
    }

    .posts-list__item {
      padding-left: 0;
      padding-right: 0;

    }

    .card-post {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 60px;
      box-shadow: none;
    }
  }
}

