.section-treatment {
  position: relative;
  background-color: #f2fafa;
  border: 1px solid #22a1a6;
  border-radius: 80px;
  padding: 60px 0;
  color: #334040;
  z-index: 1;
  .attention-block {
    padding-bottom: 40px;
    margin-bottom: 28px;

    &:before {
      display: none;
    }
  }
}

.steps-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px 60px;
  counter-reset: list;
  text-align: center;

  &__item {
    width: 24%;
    max-width: 286px;
    padding: 0 10px;
  }

  &__count {
    position: relative;
    width: 148px;
    margin: 0 auto 48px;
    background: #2AC8CE;
    border-radius: 4px;
    padding: 10px 62px 10px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;

    &:before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 67px;
      font-size: 26px;
      line-height: .8;
      background: #22A1A6;
      border-radius: 4px;
      counter-increment: list;
      content: counters(list, '. ', decimal-leading-zero);
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }

  &__thumb {
    width: 148px;
    height: 148px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    border-radius: 50%;
    border: 9px solid #f2fafa;
    box-shadow: 0 0 0 2px #22a1a6;
    margin: 0 auto 20px;
  }
}

.duration-treatment {
  display: grid;
  grid-template-columns: 2.5fr 2.25fr 3fr;
  gap: 30px;

  &__localization {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 15px 20px;
    box-shadow: 0px 17px 59px -39px rgba(44, 200, 204, .2);
  }

  &__icon {
    background-color: #F2FAFA;
    border-radius: 10px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  &__text {
    padding-left: 10px;
  }
}

@include respond-to($sm) {
  .step-slider {
    padding-bottom: 60px;
  }
  .steps-list {
    margin: 0;
    justify-content: flex-start;

    &__item {
      width: 100%;
      max-width: 100%;
    }
  }
}

