.section-banner {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 820px;
  background-size: cover;
  border-radius: 0 0 80px 80px;
  padding-top: 133px;
  overflow: hidden;

  .container {
    position: relative;
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-left: 150px;
    padding-bottom: 297px;
  }

  &__wrap-img {
    position: absolute;
    display: flex;
    width: 808px;
    height: 100%;
    padding-bottom: 25px;
    left: 100%;
    transform: translateX(-68%);
    bottom: -25px;
    z-index: 0;
  }

  &__img {
    display: block;
    margin-top: auto;
    width: 100%;
    height: auto;
  }
}

.opportunities {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 772px;

  &__card {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 0;
    font-size: 20px;
    line-height: 1.25;
    color: #334040;
  }

  &__icon {
    width: 110px;
    height: 110px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    border-radius: 50%;
    border: 1px solid #22A1A6;
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;
  }

  &__text {
    padding-left: 20px;
  }
}

@include respond-to($lg) {
  .opportunities {
    justify-content: flex-start;
  }
}

@include respond-to($md) {
  .section-banner {
    background-image: url("../assets/img/bg_banner_mob.jpg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      display: flex;
      flex-direction: column;
    }

    &__wrap-img {
      position: relative;
      left: auto;
      transform: none;
      margin: 0 auto;
      width: 705px;
      order: 1;
    }

    .section-banner__content {
      padding-bottom: 40px;
      padding-left: 0;
      order: 2;
    }
    .opportunities {
      margin: 0 auto;
    }
  }
}

@include respond-to($xs) {
  .opportunities {
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 420px;

    &__card {
      width: 100%;
    }
  }
}