.section-info {
  position: relative;
  min-height: 640px;

  &__content {
    padding-bottom: 116px;
  }

  .note {
    position: relative;
    width: 100%;
    background-color: #F2FAFA;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 1.35;
    color: #22A1A6;
    z-index: -2;

    &__text {
      max-width: 460px;
      width: 100%;
    }
  }

  &__img-wrap {
    position: absolute;
    display: flex;
    width: 47%;
    max-width: 890px;
    height: 100%;
    right: -13px;
    bottom: 0;
    overflow: hidden;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 890px;
      height: 890px;
      background: radial-gradient(102.5% 76.72% at 48.8% 40.56%, #66E1E6 0%, #2CD2D9 36.98%, #25B2B8 100%);
      border-radius: 50%;
      top: 15%;
      z-index: -1;
    }

    img {
      display: block;
      margin: auto 0 0 110px;
    }
  }

  .text_big {
    color: #22A1A6;
    line-height: 1;
    margin-bottom: 56px;
    max-width: 977px;

  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 806px;
    width: 100%;
    margin-bottom: 17px;
  }

  .card {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 40px;

    &__icon {
      width: 82px;
      height: 82px;
      flex-shrink: 0;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }

    &__text {
      padding: 0 20px;
    }
  }
}

@include respond-to($md) {
  .section-info__img-wrap:after {
    width: 700px;
    height: 700px;
    top: 35%;
    left: 60px;
  }
}

@include respond-to($sm) {
  .section-info {
    &__content {
      position: relative;
      padding-bottom: 0;
      display: flex;
      flex-wrap: wrap;
    }

    &__img-wrap {
      position: relative;
      width: 50%;
      overflow: visible;
      margin-top: auto;

      &:after {
        width: 770px;
        height: 770px;
        top: -44px;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 69%, 0 69%);
      }

      img {
        position: static;
        max-width: 450px;
        margin-left: 0;
        transform: translateX(-5%);
      }
    }

    .text_big {
      width: 100%;
    }

    .card-list {
      display: block;
      width: 50%;
    }

    .card {
      width: 100%;
    }

    .note {
      text-align: center;
      width: 100%;
      z-index: 1;

      &__text {
        margin: 0 auto;
      }
    }
  }
}

@include respond-to($xs) {
  .section-info {
    &__img-wrap {
      display: none;
    }

    .card-list {
      width: 100%;
    }

    .text_big {
      font-size: 29px;
    }
  }
}

@include respond-to($xxs) {
  .section-info .card {
    margin-bottom: 20px;

    &__text {
      padding-right: 0;
    }
  }
}