.btn {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: .5s;

  &_main {
    text-align: center;
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #F2FAFA;
    border: 1px solid #F2FAFA;
    border-radius: 10px;
    min-width: 245px;
    padding: 15px 15px 16px;
  }
}







