
.menu {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    color: #334040;
    text-transform: uppercase;
    margin: 0 18px;
    transition: .35s;

    .sub-menu {
      z-index: -1;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 2px 50px 2px rgba(44, 200, 204, .11);
      background: #ffffff;
      width: max-content;
      margin-top: 14px;
      padding: 24px 20px 20px;
      transition: all 0.35s ease;
      border-radius: 0 10px 10px 10px;
      transform: translateY(15px);
      cursor: default;
      text-align: left;

      > li:hover {
        color: #2CC8CC;

        &:before {
          background-color: #2CC8CC;
        }
      }

      &_column {
        column-count: 2;
        counter-reset: list;

        li::before {
          counter-increment: list;
          content: counters(list, '.', decimal-leading-zero);
          width: 36px;
          height: 36px;
          display: inline-flex;
          margin-right: 10px;
          background: #F2FAFA;
          border-radius: 4px;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          font-size: 12px;
          line-height: 1;
          color: #000000;
          transition: .35s;
        }
      }

      &:before,
      &:after {
        position: absolute;
        display: block;
        content: '';
      }

      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 14px;
        border-color: transparent transparent transparent #ffffff;
        left: 0;
        top: 0;
        transform: translateY(-50%);
      }

      &:after {
        width: 100%;
        height: 20px;
        background: #2CC8CC;
        opacity: 0.15;
        filter: blur(50px);
        border-radius: 10px;
        bottom: 0;
      }

      &__item {
        margin: 0 0 16px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }

        > a {
          display: inline-block;
          padding: 8px 0;
        }
      }

      &__toggle {
        display: none;
      }
    }

    &:hover > .sub-menu {
      z-index: 1;
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);

    }

    &:hover > .menu__link {

      &:before {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 10px 0;
    transition: .25s;

    &:before {
      transition: .35s;
    }

    &:hover,
    &:focus {
      -webkit-text-stroke-width: 1px;
      color: #2AC8CE;
    }
  }
}

.dropdown {
  > .menu__link {
    position: relative;
    padding-right: 26px;

    &:before {
      position: absolute;
      display: block;
      content: '';
      background-image: url("../assets/img/arrowhead-down.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 16px;
      height: 16px;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}


@include respond-to($md) {

  .menu {
    flex-direction: column;
    padding: 0 15px;

    &__item {
      font-size: 26px;
      margin-bottom: 15px;

      &:hover > .sub-menu {
        display: none;

      }

      .sub-menu_column {
        column-count: 1;
      }
    }

    &__link:before {
      display: none !important;
    }
  }
  .sub-menu {
    position: relative;
    top: 0;
    display: none;

    &__toggle {
      display: inline-block !important;
      background-image: url(../assets/img/arrowhead-down.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 16px;
      height: 16px;
      border: none;
      background-color: transparent;
      transition: .35s;
      &_active{
        transform: rotate(180deg);
      }
    }
  }
  .menu__item .sub-menu__item {
    margin: 0 0 10px;
  }
  .menu__item .sub-menu_column {
    border-radius: 10px;

    li:before {
      flex-shrink: 0;
    }

    &:before {
      display: none;
    }
  }
  .sub-menu__toggle_active + .sub-menu_column {
    display: block !important;
    position: static;
    visibility: visible;
    opacity: 1;
    transform: none;
  }

  .dropdown > .menu__link {
    display: inline-block;
    padding-right: 15px;
  }
}

@include respond-to($xs) {
  .menu{
    padding: 0;
  }
  .menu__item {
    font-size: 20px;
    .sub-menu_column {
      min-width: 312px;
      width: 100%;
      padding: 0;
      box-shadow: none;
    }
  }
  .menu__item .sub-menu__item > a {
    font-size: 16px;
  }
}

