.popover {
  position: absolute;
  background-color: #F2F8FA;
  border: 1px solid #E8EEF0;
  font-size: 12px;
  line-height: 1.17;
  color: #334040;
  border-radius: 10px;
  text-align: left;
  padding: 5px 2px 5px 8px;
  width: 203px;
  opacity: 0;
  transition: opacity .5s;
  z-index: 600;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    display: none;
    top: 0;
    width: 0;
    height: 0;
    z-index: 1;
  }

  &.left {
    border-top-left-radius: 0;

    &:before {
      display: block;
      left: -11px;
      border-width: 0 12px 12px 0;
      border-style: solid;
      border-color: transparent #F2F8FA transparent transparent;
      filter: drop-shadow(-2.5px -0.8px 0px #E8EEF0)
    }

    .popover__close {
      right: -10px;
      left: auto;
    }
  }

  &.right {
    border-top-right-radius: 0;

    &:before {
      display: block;
      right: -11px;
      border-style: solid;
      border-width: 12px 12px 0 0;
      border-color: #F2F8FA transparent transparent transparent;
      filter: drop-shadow(2.5px -0.8px 0px #E8EEF0)
    }

    .popover__close {
      left: -10px;
      right: auto;
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  @include respond-to($xs) {
    width: 170px;
  }

  &__close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border: 1px solid #F2FAFA;
    border-radius: 50%;
    background:#fff url("../assets/img/close.svg") center no-repeat;
    -webkit-background-size: 75%;
    background-size: 75%;
  }
}

.trigger-popover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #22A1A6;
  border-radius: 50%;
  border: none;
  color: #F2F8FA;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;

  &.active {
    position: relative;
    font-size: 0;

    &:before {
      position: absolute;
      content: '\2573';
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      width: 13px;
      height: 14px;
      color: #ffffff;
      font-size: 10px;
      line-height: 1;
      font-weight: 700;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}