$main-font: 'Cera Pro', sans-serif;


$orange: #EE7D00;
$white: #ffffff;
$gold: #F8AF00;
$text-dark:#403939;


// Screen Variables

$xs: '(max-width: 360px)';
$sm: '(max-width: 768px)';
$md: '(max-width: 1024px)';
$lg: '(max-width: 1366px)';



