body {
  font: 400 18px/1.5 $main-font;
  height: 100%;
  color: #3B4040;


  &.modal_open {
    overflow: hidden;
    height: 100%;
  }
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text_uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: flex;
}

.section {
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #22A1A6;

    text-align: center;
    margin-bottom: 40px;
  }
}

sup {
  font-size: .65em;
}

.corner {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../assets/img/corner.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 48px;
    height: 47px;
  }

  &:before {
    transform: rotate(180deg);
    top: -20px;
    left: -20px;
  }

  &:after {
    bottom: -20px;
    right: -20px;
  }
}

.bg_green-gradient {
  background: linear-gradient(42.54deg, #2CD2D9 0%, #25B2B8 100%);
}

.attention-block {
  width: 100%;
  position: relative;
  border-radius: 10px;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: #FFFFFF;
  padding: 40px 20px 20px;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 53px;
    height: 51px;
    background-color: #22A1A6;
    border-radius: 6px;
    background-image: url(../assets/img/attention.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 33px 31px;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    z-index: 1;
  }

  &__text {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
  }
}

.note-block {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  font-size: 20px;
  border-radius: 10px;
  padding: 47px 20px 26px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 34px 42px -43px rgba(44, 200, 204, .20);

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 289px;
    height: 2px;
    border-radius: 100px;
    background-color: #22A1A6;
    left: 50%;
    transform: translateX(-50%);
    top: -1px;
    z-index: 1;
  }

  &__text {
    width: 100%;
    max-width: 815px;
    margin: 0 auto;
  }
}

.social-bar {
  display: flex;
  justify-content: center;

  &__item {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 20px;
  }
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  z-index: 800;
}
.literature-sources{
  background-color: #ffffff;
  padding-top: 50px;
}
.dynamic-content {
  p {
    font-size: 16px;
    margin-bottom: 1.25em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5em;
  }

  h1, h2 {
    font-size: 32px;
  }

  h3, h4 {
    font-size: 28px;
  }

  a {

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 15px;
    margin-bottom: 20px;

    > li {
      position: relative;
      padding-left: 25px;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #3B4040;
        left: 8px;
        top: 10px;
      }
    }
  }

  ol {
    position: relative;
    font-size: 16px;
    padding-left: 32px;
    line-height: 1.5;
    color: #3B4040;
    counter-reset: list;

    li:before {
      position: absolute;
      left: 8px;
      counter-increment: list;
      content: counters(list, '. ') '.';
    }
  }

  @include respond-to($lg) {
    p {

      &:last-child {
        margin-bottom: 0;
      }
    }
    h1, h2 {

    }
  }

  @include respond-to($xs) {
    p {


      &:last-child {
        margin-bottom: 0;
      }
    }
    h1, h2 {

    }
  }
}

