
.text {
  &_md{
    font-size: 20px;
  }
  &_big {
    font-size: 32px;
    font-weight: 700;
  }
}

.title {
  &_md {
    font-size: 28px;
    line-height: 1.29;
  }
  &_sm {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
  }
  &_xs{
    font-size: 16px;
  }
}

.text_bold{
  font-weight: 700;
}



