
.container {
  width: 100%;
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;

  @include respond-to($md) {
    max-width: 1020px;
    padding: 0 32px;
  }
  @include respond-to($sm) {
    max-width: 760px;
  }
  @include respond-to($xs) {
    max-width: 580px;
    padding: 0 24px;
  }
  @include respond-to($xxs) {
    max-width: 100%;
  }
}
